.hover-cell:hover {
    background-color: orange;
    /* Change this to the desired background color */
    color: white;
    /* Change this to the desired text color */
    cursor: pointer;
    /* Optional: Change the cursor style on hover */
}
textarea {
    width: 800px;
    height: 400px;
    font-family: 'Open Sans';
}
h1 {
    color: #075e2a;
    background-color: rgba(6, 119, 119, 0.08);
    align-content: center;
    font-family: 'Open Sans';
    justify-content: center;
    border: 5px solid #ddd;
    margin: 0 auto;
}
h2 {
    color: #060707;
    background-color: rgba(55, 255, 255, 0.05);
    border-style: outset;
    align-content: center;
    font-family: 'Open Sans';
    justify-content: center;
    border: 1px solid #ddd;
    margin: 0 auto;
}
h3 {
    color: #060707;
    align-content: center;
    font-family: 'Open Sans';
    justify-content: center;
}
.chart-container {
    display: flex;
    justify-content: center;
    width: 87%;
    height:40%;
    margin: 0 auto;
}
table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font: 1em;
    background-color: rgba(221, 234, 234,0.1);
    align-content: center;
    font-family: 'Open Sans';
}
.escalated-false {
    color: green;
}
.escalated-true {
    background-color: rgb(241, 14, 14);
    color: black;
}
.overdue-true {
    color: rgb(0, 0, 0);
    background-color: rgba(255, 211, 54, 0.713);
}
.dashboard-total-cell {
    background-color: rgba(54, 255, 132, 0.2);
    color: #000000;
    text-align: center;
}

.dashboard-inprogress-cell {
    background-color:rgba(55, 255, 255, 0.2);
    color: #000000;
    text-align: center;
}
.dashboard-targetmet-cell {
    background-color: rgba(150, 206, 86, 0.2);
    color: #000000;
    text-align: center;
}
.dashboard-targetmissed-cell {
    background-color: rgba(150, 55, 192, 0.2);
    color: #000000;
    text-align: center;
}
.dashboard-escalated-cell {
    background-color: rgba(255, 0, 0, 0.4);
    color: #000000;
    text-align: center;
}
.dashboard-complete-cell {
    background-color: rgba(54, 162, 235, 0.2);
    color: #000000;
    text-align: center;
}
table th,
table td {
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}
.hovered-cell {
    background-color: #ffcccb;
    /* Set your desired background color */
}
table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgba(54, 162, 235, 0.1);
    color: black;
    font-family: 'Open Sans';
}
.modal-overlay {
    position: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(2, 2, 2, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal {
    background: white;
    border-radius: 25px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    font-family: 'Open Sans';
    font-size: small;
}

.modal-header {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background: rgba(216, 222, 225, 0.2);
    color: white;
    display: flex;
}

.close-button {
    background: rgba(216, 222, 225, 0.01);
    border-radius: 25%;
    border: none;
    color: rgb(211, 5, 5);
    font-size: 40px;
    cursor: pointer;
}

.modal-content {
    padding: 10px;
}
.logo {
    display: flex;
    margin: 0 auto;
    /* Center the logo horizontally */
    max-width: 50%;
    /* Ensure the logo doesn't exceed its container's width */
    padding: 10px;
    /* Add padding as needed */
    width: 390px;
    /* Set the width to your preferred size */
    height: 90px;
    /* Maintain the aspect ratio */
}