h1 {
    color: #060707;
    background-color: rgba(55, 255, 255, 0.08);
    border-style: outset;
    align-content: center;
    font-family: 'Open Sans';
    justify-content: center;
    border: 1px solid #ddd;
    margin: 0 auto;
}
h2 {
    color: #060707;
    background-color: rgba(55, 255, 255, 0.05);
    border-style: outset;
    align-content: center;
    font-family: 'Open Sans';
    justify-content: center;
    border: 1px solid #ddd;
    margin: 0 auto;
}
h3 {
    color: #060707;
    align-content: center;
    font-family: 'Open Sans';
    justify-content: center;
    margin: 0 auto;
}
.chart-container {
    display: flex;
    justify-content: center;
    width: 87%;
    height:40%;
    margin: 0 auto;
}
table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font: 1em;
    background-color: rgba(221, 234, 234,0.1);
    align-content: center;
    font-family: 'Open Sans';
}
.escalated-false {
    color: green;
}
.escalated-true {
    color: rgb(241, 14, 14);
}
.overdue-true {
    color: rgb(0, 0, 0);
    background-color: rgba(255, 211, 54, 0.713);
}
.dashboard-total-cell {
    background-color: rgba(54, 255, 132, 0.2);
    color: #000000;
    text-align: center;
}

.dashboard-inprogress-cell {
    background-color:rgba(55, 255, 255, 0.2);
    color: #000000;
    text-align: center;
}
.dashboard-targetmet-cell {
    background-color: rgba(150, 206, 86, 0.2);
    color: #000000;
    text-align: center;
}
.dashboard-targetmissed-cell {
    background-color: rgba(150, 55, 192, 0.2);
    color: #000000;
    text-align: center;
}
.dashboard-escalated-cell {
    background-color: rgba(255, 0, 0, 0.4);
    color: #000000;
    text-align: center;
}
.dashboard-complete-cell {
    background-color: rgba(54, 162, 235, 0.2);
    color: #000000;
    text-align: center;
}
table th,
table td {
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgba(54, 162, 235, 0.1);
    color: black;
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(2, 2, 2, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal {
    background: white;
    border-radius: 25px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    max-width: 90%;
    width: 90%;
    align-items: center;
}

.modal-header {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background: rgba(216, 222, 225, 0.2);
    color: white;
    padding: 10px;
    display: flex;
}

.close-button {
    background: rgba(216, 222, 225, 0.2);
    border: none;
    color: rgb(211, 5, 5);
    font-size: 30px;
    cursor: pointer;
}

.close-button:focus {
    outline: none;
}

.modal-content {
    padding: 10px;
    align-items: center;
}
.modal-table {
    align-items: center;
}